# Data Cleaning

In [ ]:
import pandas as pd
import pre_processing as pp
import nltk
#nltk.download('stopwords')
#nltk.download('punkt')

## Articles

In [2]:
#First download the zip file from kaggle and unzip it (name of the folder is archive)

files = ['archive/ArticlesApril2018.csv', 'archive/ArticlesFeb2018.csv', 
         'archive/ArticlesJan2018.csv', 'archive/ArticlesMarch2018.csv']

columns = ['articleID', 'articleWordCount', 'headline',
           'keywords', 'newDesk', 'snippet', 'typeOfMaterial']

def open_files(files, cols=None):
    '''
    Takes a list of file names and columns (optional) 
    and returns a pandas dataframe
    '''
    
    articles = []
    for filename in files:
        article = pd.read_csv(filename, usecols=cols)
        articles.append(article)
        
    return pd.concat(articles)
        
articles = open_files(files, columns)
print(articles.shape)
articles.head()

(4769, 7)

,articleID,articleWordCount,headline,keywords,newDesk,snippet,typeOfMaterial
0,5adf6684068401528a2aa69b,781,Former N.F.L. Cheerleaders’ Settlement Offer: ...,"['Workplace Hazards and Violations', 'Football...",Sports,"“I understand that they could meet with us, pa...",News
1,5adf653f068401528a2aa697,656,E.P.A. to Unveil a New Rule. Its Effect: Less ...,"['Environmental Protection Agency', 'Pruitt, S...",Climate,The agency plans to publish a new regulation T...,News
2,5adf4626068401528a2aa628,2427,"The New Noma, Explained","['Restaurants', 'Noma (Copenhagen, Restaurant)...",Dining,What’s it like to eat at the second incarnatio...,News
3,5adf40d2068401528a2aa619,626,Unknown,"['Macron, Emmanuel (1977- )', 'Trump, Donald J...",Washington,President Trump welcomed President Emmanuel Ma...,News
4,5adf3d64068401528a2aa60f,815,Unknown,"['Toronto, Ontario, Attack (April, 2018)', 'Mu...",Foreign,"Alek Minassian, 25, a resident of Toronto’s Ri...",News

In [3]:
articles.groupby(by='typeOfMaterial').size()

typeOfMaterial
An Appraisal          1
Biography             2
Blog                 11
Brief                 1
Editorial           103
Interview             1
Letter                3
News               3408
News Analysis        31
Obituary (Obit)      18
Op-Ed               768
Question              7
Review              224
briefing            191
dtype: int64

In [4]:
articles['snippet'] = articles['snippet'].apply(pp.clean_text)

articles.head()

,articleID,articleWordCount,headline,keywords,newDesk,snippet,typeOfMaterial
0,5adf6684068401528a2aa69b,781,Former N.F.L. Cheerleaders’ Settlement Offer: ...,"['Workplace Hazards and Violations', 'Football...",Sports,i understand that they could meet with us patr...,News
1,5adf653f068401528a2aa697,656,E.P.A. to Unveil a New Rule. Its Effect: Less ...,"['Environmental Protection Agency', 'Pruitt, S...",Climate,the agency plans to publish a new regulation t...,News
2,5adf4626068401528a2aa628,2427,"The New Noma, Explained","['Restaurants', 'Noma (Copenhagen, Restaurant)...",Dining,whats it like to eat at the second incarnation...,News
3,5adf40d2068401528a2aa619,626,Unknown,"['Macron, Emmanuel (1977- )', 'Trump, Donald J...",Washington,president trump welcomed president emmanuel ma...,News
4,5adf3d64068401528a2aa60f,815,Unknown,"['Toronto, Ontario, Attack (April, 2018)', 'Mu...",Foreign,alek minassian a resident of torontos richmond...,News

In [7]:
articles.to_csv('data/articles.csv', index=False)

## Comments

In [11]:
files = ['archive/CommentsApril2018.csv', 'archive/CommentsFeb2018.csv', 
         'archive/CommentsJan2018.csv', 'archive/CommentsMarch2018.csv']
columns = ['articleID', 'articleWordCount', 'commentID', 'commentBody','depth']
comments = open_files(files, columns)
print(comments.shape)
comments.head()

(930320, 5)

,articleID,articleWordCount,commentBody,commentID,depth
0,5adf6684068401528a2aa69b,781.0,How could the league possibly refuse this offe...,26853969.0,1.0
1,5adf6684068401528a2aa69b,781.0,"So then the execs can be like ""yeah...we will ...",26853699.0,1.0
2,5adf6684068401528a2aa69b,781.0,I would not want to play chess against these c...,26853677.0,1.0
3,5adf6684068401528a2aa69b,781.0,Could the cheerleaders join the Actors' Equity...,26853784.0,1.0
4,5adf653f068401528a2aa697,656.0,Seeking conclusions which support preconceived...,26854236.0,1.0

In [13]:
comments['commentBody'] = comments['commentBody'].apply(pp.clean_text)

comments.head()

,articleID,articleWordCount,commentBody,commentID,depth
0,5adf6684068401528a2aa69b,781.0,how could the league possibly refuse this offer,26853969.0,1.0
1,5adf6684068401528a2aa69b,781.0,so then the execs can be like yeah we will sit...,26853699.0,1.0
2,5adf6684068401528a2aa69b,781.0,i would not want to play chess against these c...,26853677.0,1.0
3,5adf6684068401528a2aa69b,781.0,could the cheerleaders join the actors equity ...,26853784.0,1.0
4,5adf653f068401528a2aa697,656.0,seeking conclusions which support preconceived...,26854236.0,1.0

In [14]:
comments.to_csv('data/comments.csv', index=False)